html, body {
    min-height: 100%;
}
body {
    font-family: Arial;
}

#container {
    width: 560px;
    display: block;
    margin: 0px auto;
    background-color: #fff;
    min-height: 100%;
}
.mainPanel {
    display: block;
    float: left;
    min-height: 100%;
    padding: 10px;
}
#leftPanel {
    width: 360px;
}
#rightPanel {
    width: 160px;
    background-color: #f6f6f6;
}
.clean {
    clear: both;
}

#leftPanel .content {
    margin: 0 5px;
}

#pic img {
    width: 120px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}
#leftPanel h1.title {
    color: #555658;
    font-size: 30px;
    margin-bottom: 0px;
}
#leftPanel h3.subtitle {
    color: #9b9b9b;
    font-size: 15px;
    margin-top: 0px;
    margin-left: 1px;
}

.listing {
    margin-bottom: 20px;
}

.listing .head .icon {
    display: block;
    float: left;
    margin-right: 5px;
}
.listing .head .icon img {
    width: 20px;
}
.listing .head h1 {
    display: block;
    float: left;
    font-size: 20px;
    margin: 0px;
    color: #4e5051;
}
.listing .item {
    margin-left: 25px;
    color: #696868;
    position: relative;
}

.listing .item .timeline {
    margin-left: -20px;
    display: block;
    float: left;
    height: 100%;
    position: relative;
}


.listing .item .timeline .point {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ccc;
}
.listing .item .timeline.red .point  { background-color: #f33b3d; }
.listing .item .timeline.orange .point  { background-color: #fdbc02;}
.listing .item .timeline.blue .point { background-color: #3399cc;}
.listing .item .timeline.green .point { background-color: #94c919;}

.listing .item .timeline .line {
    width: 5px;
    height: 50px;
    background-color: #ccc;
    margin-left: 5px;
}
.listing .item .timeline.red .line    { background-color: #f33b3d; //background: linear-gradient(#f33b3d, #f6f6f6); }
.listing .item .timeline.orange .line { background-color: #fdbc02; //background: linear-gradient(#fdbc02, #f6f6f6); }
.listing .item .timeline.blue .line   { background-color: #3399cc; //background: linear-gradient(#3399cc, #f6f6f6); }
.listing .item .timeline.green .line  { background-color: #94c919; //background: linear-gradient(#94c919, #f6f6f6); }

.listing .item .data {
    display: block;
    float: left;
}

.listing .item .name {
    font-size: 16px;
    font-weight: bold;
}
.listing .item .name.casual {
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
}
.listing .item .meta {
    font-size: 12px;
    margin: 5px 0px;
    color: #c3c2c2;
}
.listing .item .place {
    display: block;
    float: left;
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-image: url("../img/map_pin.png");
    background-repeat: no-repeat;

}
.listing .item .date {
    display: block;
    float: left;
    padding-left: 18px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-image: url("../img/calendar.png");
    background-repeat: no-repeat;
    margin-left: 10px;
}

.listing .item .descr {
    font-size: 14px;
    float: left;
    padding: 5px 0;
}

#rightPanel {

}

#rightPanel .infoPanel {
    width: 100%;
    padding: 0 2px;
    font-size: 14px;
    margin-bottom: 50px;
}
#rightPanel .infoPanel .head {
    margin-bottom: 10px;
}
#rightPanel .infoPanel .head .icon {
    float: left;
    display: block;
}
#rightPanel .infoPanel .head .title {
    float: left;
    display: block;
}
#rightPanel .infoPanel .head .icon img {
    width: 20px;
}
#rightPanel .infoPanel .head .title {
    font-size: 18px;
    line-height: 20px;
    margin-left: 5px;
}
#rightPanel .infoPanel .content {
    margin-left: 0px;
    width: 170px;
}

.languages .lang {
    width: 100%;
    display: block;
    clear: both;
}
.languages .lang .name {
    float: left;
    display: block;
    width: 150px;
}
.languages .lang .stars {
    float: left;
    display: block;
    font-size: 25px;
}
.languages .lang .stars .earned {
    float: left;
    display: block;
}
.languages .lang .stars .todo {
    float: left;
    display: block;
    margin-left: 6px;
    color: #ccc
}